# Base de datos
DATABASE_URL="mongodb://biper:biper123@localhost:27018/biper-cmv?authSource=admin&directConnection=true"

# Autenticación
JWT_SECRET="cambiar-en-produccion"
JWT_EXPIRES_IN="7d"

# URLs de servicios
NEXT_PUBLIC_APP_URL="http://localhost:3000"
SOCKET_SERVER_URL="http://localhost:4000"
SOCKET_SERVER_INTERNAL_URL="http://localhost:4000"
