PORT=4000
DATABASE_URL="mongodb://biper:biper123@localhost:27018/biper-cmv?authSource=admin&directConnection=true"
JWT_SECRET="cambiar-en-produccion"
NEXT_API_URL="http://localhost:3000"
NEXT_PUBLIC_APP_URL="http://localhost:3000"
